/* fondo Us  */
.fondoUs{
    position: relative;
}

/* us */
.us{
    position: relative;
    /* background: var(--color-bg); */
    padding: 60px 0;
    background: var(--gradients-bg);
    font-family: var(--font-family);
    /* padding: 60px 0 0 0; */
}

/* .us p{
    padding: 120px;
    font-family: var(--font-family);
    color: var(--color-text);
    font-size: 2rem;
    text-align: center;
    background: var(--gradients-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    
} */

.us-shape{
    position: absolute;
    width: 35px;
    left: 139px;
    top: 8px;
    transform: rotate(240deg);

}
.us-container{
    position: relative;
    /* display: flex; */
    
}

.us-content{
    color: var(--color-text);
    padding: 35px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.us-titulo{
    font-size: 2.6rem;
    color: var(--color-title);
    position: relative;
    font-family: var(--font-family);
    margin-left: 9%;
}
.us-titulo span{
    /* display: block; */
    font-size: 2.6rem;
    color: inherit;
}
.us-content-fragments{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    gap:32px;
}
.us-content-fragments_data{
    display: flex;
    align-items: center;
    background: #fdfdfd0d;
    box-shadow: 0px -2px 0px #ffffff26, 1px 1px 2px #00000021;
    border-radius: 6px;
    padding: 14px 22px;
    position: relative;
    overflow: hidden;
  }
.us-content-fragments_data::after{
    content: '';
    position: absolute;
    background: #ffffffa8;
    width: 50px;
    height: 73px;
    right: -22px;
    bottom: -33px;
    transform: rotate(45deg); 
}
.us-content-fragments_data:nth-child(2){
    transform: translateX(-10px);
}
.us-content-fragments_data:nth-child(3){
    transform: translateX(-20px);
}
.us-content-fragments_data span{
    font-size: 1.9rem;
    margin-right: 25px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: white;
    overflow: hidden;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #464646;
    /* border: solid #ffffff 3px; */
    box-shadow: -3px -3px 4px 0px #ffffff1c,
    4px 4px 4px 2px #00000026, 
    inset 5px 5px 7px 2px #00000033, 
    inset -3px -3px 5px 0px #ffffff1c; 
    position: relative;
}
.us-content-fragments_data span:before{
    content: '';
    position: absolute;
    width: 7px;
    height: 13px;
    background: #ffffffe5;
    border-radius: 50%;
    top: 9px;
    left: 9px;
    transform: rotate(38deg);
}
.us-fragmentsInfo p:nth-child(1){
  font-size: 1.2rem;
  font-family: var(--font-family);
}
.us-fragmentsInfo p{
    width: 250px;
    text-align: center;
    margin: 5px;
    font-size: 0.8rem;
    font-family: var(--font-family-1);
}

.us-content-square{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    box-shadow: 3px 2px 5px 1px #0000004a;
    border-radius: 34px;
    gap: 15px;
    height: max-content;
    width: max-content;
}
.us-square-img{
    position: relative;
    /* margin: auto 0; */
    width: 150px;
    height: 150px;
    box-shadow: -3px -3px 4px 0px #ffffff1c, 4px 4px 4px 2px #00000026, inset 5px 5px 7px 2px #00000033, inset -3px -3px 5px 0px #ffffff1c;
    border-radius: 22px;
    display: flex;
}
.us-square-img img{
    position: relative;
    width: 80%;
    margin: auto;
}





/* .us_content p{
    font-size: 1rem;
    max-width:300px;
} */

@media screen and (max-width: 700px){
    .us-container{
        padding: 0 20px 0 20px;
    }
    .us-content{
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .us-content-fragments_data:nth-child(n){
        transform: translateX(0);
    }
    .us-content-fragments_data p {
        width: 140px;
    }

    .us-container-img{
        margin: 35px 0;
    }

    .us-container-img img {
        max-width: 200px;
    }
        

}
